<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 1rem">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus,
        ante at suscipit dapibus, orci sapien hendrerit sem, ut tristique diam
        sem ac libero. Donec vel tempor eros. Vivamus eu felis enim. Donec nec
        placerat nisi, a lacinia velit. Phasellus laoreet sapien sit amet luctus
        faucibus. Etiam at congue libero. Aliquam sapien dolor, molestie at
        felis in, tincidunt laoreet sapien. Aenean eget justo a metus bibendum
        vulputate.
      </p>
      <p>
        Morbi interdum tellus ut est tempor, dictum posuere turpis faucibus.
        Etiam lorem lacus, consectetur condimentum lacus ullamcorper, gravida
        facilisis felis. Nullam porta pharetra est, tempus molestie ipsum
        efficitur eget. Aliquam eget fringilla dolor, vel lacinia lorem. Nulla
        sodales orci vitae felis pellentesque tincidunt. Vestibulum condimentum
        facilisis venenatis. Sed facilisis, nisi quis sagittis molestie, tellus
        ex auctor dui, vel dapibus tellus ipsum ac risus. Donec scelerisque eu
        erat ut pharetra.
      </p>
    </div>

    <div style="margin-top: 3rem">
      <ion-button expand="block" (click)="buttonClicked()"
        >Do Something</ion-button
      >
    </div>

    <div style="margin-top: 3rem">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus,
        ante at suscipit dapibus, orci sapien hendrerit sem, ut tristique diam
        sem ac libero. Donec vel tempor eros. Vivamus eu felis enim. Donec nec
        placerat nisi, a lacinia velit. Phasellus laoreet sapien sit amet luctus
        faucibus. Etiam at congue libero. Aliquam sapien dolor, molestie at
        felis in, tincidunt laoreet sapien. Aenean eget justo a metus bibendum
        vulputate.
      </p>
      <p>
        Morbi interdum tellus ut est tempor, dictum posuere turpis faucibus.
        Etiam lorem lacus, consectetur condimentum lacus ullamcorper, gravida
        facilisis felis. Nullam porta pharetra est, tempus molestie ipsum
        efficitur eget. Aliquam eget fringilla dolor, vel lacinia lorem. Nulla
        sodales orci vitae felis pellentesque tincidunt. Vestibulum condimentum
        facilisis venenatis. Sed facilisis, nisi quis sagittis molestie, tellus
        ex auctor dui, vel dapibus tellus ipsum ac risus. Donec scelerisque eu
        erat ut pharetra.
      </p>
    </div>
  </div>
</ion-content>
